<main class=" bg-PaleBlue h-[100vh] bg-ForMobile md:bg-ForDesktop bg-no-repeat  w-full ">
    <section class="w-full h-[100vh] flex items-center justify-center">

        <main class="   md:h-[620px] w-full w-[400px] m-[20px] bg-white rounded-3xl shadow-2xl">

            <section>
                <img src="../assets/images/illustration-hero.svg" alt="" class="rounded-t-3xl">
            </section>

            <section class="my-[10px] flex flex-col items-center p-[10px]">
                <h1 class="my-[10px] font-Display font-semibold text-[23px]">Order Summary</h1>

                <p class="font-Display text-center font-medium text-DesaturatedBlue p-[15px] md:px-[30px]">
                    You can now listen to millions of songs, audiobooks, and podcasts on any 
                    device anywhere you like!
                </p>
            </section>

            <section class="w-full bg-VeryPaleBlue flex justify-between items-center p-[15px] rounded-2xl w-[90%] px-[15px] md:px-[25px] mx-auto">
                <img src="../assets/images/icon-music.svg" alt="">
                <section class=" font-Display">
                    <h2 class="font-semibold">Annual Plan</h2>
                    <p class="text-DesaturatedBlue font-regular">$59.99/year</p>
                </section>
                <a href="" class="underline text-BrightBlue font-medium font-Display hover:no-underline">Change</a>
            </section>

            <section class="w-full p-[10px] flex flex-col justify-center items-center">
                <section class="my-[10px]  w-full bg-BrightBlue  md:w-[350px] text-center rounded-xl shadow-lg p-[5px] hover:shadow-xl cursor-pointer hover:bg-opacity-80 hover:text-DesaturatedBlue">
                    <button class="p-[10px] text-white font-Display font-semibold text-[15px]">Proceed to Payment</button>
                </section>
                <section class="my-[10px]">
                    <button class="font-Display font-semibold text-DesaturatedBlue hover:text-gray-950 ">Cancel Order</button>
                </section>
            </section>

        </main>

    </section>
</main>